
/*****************************************************************
    .클래스명       :   태그내에 지정된 클래스를 찾아 스타일 컴파일
    #태그아이디명   :   태그내에 지정된 아이디를 찾아 스타일 컴파일    
******************************************************************/

/* class_common 이라는 클래스를 가지는 태그에 속성 부여 */
.class_common {
    background: white;
    color: red;
}

/* id_a 라는 아이디를 가지는 태그에 속성 부여 */
#a {
    color: green;
}

#b {
    color: blue;
}


/***********************************************************************************
    태그명 > 자식 태그명 or 후손 태그명 :   태그내에 지정된 클래스를 찾아 스타일 컴파일
    태그명 자식 or 후손 태그명  :   태그내에 지정된 아이디를 찾아 스타일 컴파일    
    클래스 , 아이디가 우선순위 상향
    섞인태그의 경우 뒤에서 부터 탐색후 스타일 적용
*************************************************************************************/

/* div 의 자식 태그인 h3 태그에 속성 부여 */
div > h3 {
    color: orange;
    background-color: green;
}

/* div 의 후손 태그인 span 태그에 속성 부여 */
div span {
    background-color: black;
    color: white
}

/***********************************************************************************
    [속성명]            :  태그내 부여된 해당 속성 가진 모든 태그에 스타일 적용
    [속성명="특정 속성" :  태그내 해당 속성명 가진 태그중 특정 속성명 일치 태그에 스타일 적용
    클래스 , 아이디가 우선순위 상향
*************************************************************************************/

[title] {
    color: yellow;
    font-size: 15px;
}

[title="bold"] {
    font-size: 15px;
    color: blue;
    font-weight: bold;
}